<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eosX.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
				<key>dateExpires</key>
				<string>4/4/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PieCharts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ProcessLoadingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftChart.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E08DC202E75B9CC55C56DB90BC5AC890A489768B</string>
						<key>dateExpires</key>
						<string>4/4/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SH6896K6L5</string>
						<key>name</key>
						<string>Cyril Cermak</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SH6896K6L5.com.cyrilcermak.eosX</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SH6896K6L5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>eosX.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fa2b0b7b-7475-499d-b6a0-a0c1222a8dda</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.cyrilcermak.eosX</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SH6896K6L5</string>
				<key>name</key>
				<string>Cyril Cermak</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
